/* ---------STILI GENERALI--------- */

*{
  border: 1px solid green;
}

body {
  width: 100%;
  margin: 0;
  height: 100%;
}

p {
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #333;
}

h1 {
  font-family: "Pepsi";
  padding: 0%;
  margin: 0%;
}

/* ---------------FONT-------------- */

@font-face {
  font-family: Pepsi;
  src: url(/Fonts_progetto_sito_2/PEPSI_pl.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(/Fonts_progetto_sito_2/Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(/Fonts_progetto_sito_2/Roboto-Medium.ttf);
}

/*-------------MENU NAVIGAZIONE-------------*/

.header {
  height: 10vh;
  width: 100%;
  position: fixed;
  margin-bottom: 10vh;
  background-color: white;
  z-index: 2;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  margin-left: 6%;
}

.logo {
  height: 8vh;
}

.menu {
  line-height: 10vh;
  display: flex;
  justify-content: flex-end;
}

.menu div {
  font-family: Pepsi;
  list-style: none;
  padding: 0;
  margin-right: 5vw;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.menu div a {
  color: black;
  text-decoration: none;
}

.menu div a:hover {
  color: #c9002b;
  text-decoration: none;
}
.site_title {
  display: flex;
  align-items: center;
}
.Pepsi_red {
  display: inline;
  color: #c9002b;
  line-height: 10vh;
  margin-left: 1vw;
}

.Jet_blue {
  display: inline;
  color: #004b93;
}

/* ------------------HERO SECTION---------------*/
.home_hero_section {
  display: block;
}
.immagine_landing {
  width: 100%;
  padding-top: 10vh;
  display: block;
}

button {
  height: 60px;
  padding: 0 1vh;
  color: white;
  background-color: #c9002b;
  margin: none;
  font-family: Roboto;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

button:active {
  background-color: #a20023;
}

button:hover {
transform: scale(1.2);
}

.overlay {
  position: absolute;
  top: 75%;
  left: 30%;
  transform: translate(50%, -50%);
}

.image_container {
  position: relative;
}

.arrow_icon {
  margin: 1em 0em 1em 0.5em;
  height: 30px;
}

.button_text {
  color: inherit;
  line-height: 60px;
  font-family: Roboto;
  font-size: 20px;
  margin: 0;
}

/* ------------TRAMA SECTION---------------------*/

.section_trama {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(0, 75, 147);
  background: -moz-linear-gradient(
    180deg,
    rgba(0, 75, 147, 1) 0%,
    rgba(201, 0, 43, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(0, 75, 147, 1) 0%,
    rgba(201, 0, 43, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 75, 147, 1) 0%,
    rgba(201, 0, 43, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004b93",endColorstr="#c9002b",GradientType=1);
  margin-bottom: ;
}

.trama_text {
  width: 88%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 250px;
}

.trama_text h1 {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  margin-bottom: 70px;
  font-size: 50px;
  margin-top: 100px;
}

.trama_text p {
  text-align: center;
  margin-bottom: 70px;
  font-family: Roboto-Medium;
  font-size: 14px;
  line-height: 30px;
  color: white;
}

.section_trama video {
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  border-radius: 25px;
}

/* ----------------------CAST----------------------------------*/
.cast_container {
  width: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cast_card_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cast_title{
  color: white;
  font-size: 50px;
  margin-bottom: 70px;
}

.cast_immagini {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 0 70px;
}
.cast_card {
  display: flex;
  width: 225px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.cast_card h2{
  color: white;
  font-family: Roboto-Medium;
  
}

.cast_card img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.cast_nomi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  padding: 0 70px;
}

.cast_nomi h2 {
  font-family: Roboto;
  color: white;
  font-weight: lighter;
}
.p_cast {
  text-align: center;
  width: 50%;
  margin-bottom: 70px;
  font-family: Roboto-Medium;
  color: white;
  font-size: 14px;
  line-height: 30px;
}

.button_cast {
  background-color: #004b93;
  margin-bottom: 300px;
}

.button_cast:active{
  background-color: #013c74;
}

/*-------------------------GALLERY--------------------------*/

.section_home_gallery {
  background-image: url(Immagini_progetto_sito/tile_mondrian.png);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.over_sfondo {
  max-width: 100%;
  max-height: 100%;
  height: 80%;
  width: 80%;
}

.button_gallery{
  align-items: center;
}

/* --------------------------FOOTER-------------------------------- */

footer {
  display: flex;
  height: 350px;
  align-items: center;
  justify-content: space-between;
}

.footer_caption {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  width: 30%;
  height: 80%;
  justify-content: space-evenly;
}

.icons_container {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.logo_footer {
  display: flex;
  align-items: center;
}

.logo_footer img {
  height: 50px;
}

.footer_caption p {
  font-family: Roboto-Medium;
  font-weight: lighter;
  color: black;
}

.footer_menu a {
  text-decoration: none;
  font-family: Roboto-Medium;
}

.footer_menu a:visited {
  text-decoration: none;
  color: black;
}

.footer_articoli a {
  text-decoration: none;
  color: black;
  border-left: 3 px black solid;
  font-family: Roboto-Medium;
}

.footer.articoli a:visited {
  text-decoration: none;
  color: black;
}

.footer_menu h3 {
  font-family: Roboto-Medium;
  color:#c9002b;
  font-weight: bold;
}

.footer_articoli h3 {
  font-family: Roboto-Medium;
  font-weight: bold;
  color:#004b93;
}

.footer_links_container {
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
  width: 30vw;
}

.footer_menu,
.footer_articoli {
  border-left: 2px solid black;
  padding-left: 10px;
}

.footer_menu div{
  margin-bottom: 10px;
}

.footer_articoli div{
  margin-bottom: 10px;
}